@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Poppins:wght@300&display=swap');

.app {
  height: 100vh;
  padding: 0 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: Inter;
  flex-wrap: wrap;

  .addHome {
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
    border: none;
    background-color: #000f80;
    color: white;
    font-weight: bold;
  }

  h1 {
    margin-bottom: 50px;
  }

  .books {
    display: flex;
    flex-wrap: wrap;


    .book {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;

      img {
        width: 200px;
        height: 300px;
        object-fit: cover;
      }

    }
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 20px;

    input {
      width: 250px;
      padding: 10px;
      border: 1px solid gray;
    }

    textarea {
      padding: 10px;
    }

    button {
      border: none;
      padding: 10px;
      background-color: white;
      background-color: #000f80;
      color: white;
      font-weight: bold;
      cursor: pointer;
    }
  }
}
.book-bottom {
  display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}
.button-grp {
  display: flex;
  margin-top: 20px;
}
.books,.button-grp {
  gap: 20px;
}

body {
  background-image: linear-gradient(to right, #33001b, #ff0084); 
  color: white;
}



.delete-button,.update-button {
  width: 150px;
  height: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  background: red;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
  background: #e62222;
 }
 
 .delete-button, .delete-button span,.update-button,.update-button span {
  transition: 200ms;
 }
 
 .delete-button .text,.update-button .text {
  transform: translateX(35px);
  color: white;
  font-weight: bold;
 }
 
 .delete-button .icon,.update-button .icon {
  position: absolute;
  border-left: 1px solid #c41b1b;
  transform: translateX(110px);
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
 }
 
 .delete-button svg,.update-button svg{
  width: 15px;
  fill: #eee;
 }
 
 .delete-button:hover, .update-button:hover {
  background: #ff3636;
 }
 
 .delete-button:hover .text{
  color: transparent;
 }

 
 .delete-button:hover .icon ,.update-button .icon{
  width: 150px;
  border-left: none;
  transform: translateX(0);
 }
 
 .delete-button:focus,.update-button:focus {
  outline: none;
 }
 
 .delete-button:active .icon svg,.update-button .icon svg {
  transform: scale(0.8);
 }


 a {
  text-decoration: none;
  color: white;
 }